@import "seattletimes";

main.interactive {
  max-width: 960px;

  .row {
    .display-flex();

    @media @mobile {
      display: block;
    }

    .cell {
      .flex(1);
    }

    .controls.cell {
      padding-right: 16px;

      select {
        width: 100%;
        font-size: 16px;
        padding: 0;
        margin: 0;
      }

      h2 {
        font-size: 16px;
        margin: 0;
      }
    }
  }
}

.matrix {
  line-height: 1;

  h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: center;
    border-bottom: 1px solid @df-light-gray;
    font-weight: normal;
  }

  .response {
    cursor: pointer;
  }

}

.response {
  @size: 15px;
  display: inline-block;
  width: @size;
  height: @size;
  background: pink;
  border-radius: 2px;
  border: 2px solid white;
  vertical-align: text-bottom;

  &.selected {
    border-color: black;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.key {
  padding-top: 16px;
  .key-item {
    margin-right: 20px;
    display: inline-block;
    font-size: 15px;
  }
}

.detail {
  padding: 0 20px;

  @media @mobile {
    padding: 20px 0;
  }

  h1 {
    font-size: 28px;
    margin: 0;
  }

  h2 {
    font-size: 16px;
    margin: 0;
  }

  .answers {
    list-style-type: none;
    padding: 0;
    margin: 16px 0;

    li {
      margin-bottom: 16px;
    }

    i {
      display: block;
      line-height: 1.2;
      font-size: 18px;
      margin-bottom: 8px;
      color: @df-middle-gray;
      font-weight: bold;
      font-style: normal;
    }

    .answer {
      position: relative;
      display: block;
    }
  }
}

.credit {
  text-align: right;
  font-size: 15px;
  margin-top: 20px;
  font-style: italic;
  text-transform: uppercase;
}