<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%
var lookup = function(r) {
  for (var i = 0; i < json.categories.length; i++) {
    var c = json.categories[i];
    if (c.long == r) return c.short;
  }
  return r;
};

var quote = function(s) {
  s = (s + "").trim();
  return s.replace(/"/g, '&quot;');
};
    %>

    <responsive-child>
      <main class="interactive">
        <h1>What readers said about consent</h1>
        <p>
          Each square below represents one of the 250 people who responded to a series of questions that we posed about consent.  You can choose to organize the responses by the age each person learned about consent, or who taught them about it.   See the key in each category to see what the color of each block means.  Click on any block to see each person’s full response.
        <div class="row">
          <div class="controls cell">
            <h2 class="primary">Sort by category:</h2>
            <select class="group-by">
              <option value="how">How did you learn about consent?</option>
              <option value="old">How old were you?</option>
            </select>
            <div class="key"></div>
          </div>
          <div class="visual cell">
            <div class="matrix"></div>
          </div>
          <div class="text cell">
            <div class="detail empty">
              Click or tap a response for more detail.
            </div>
          </div>
        </div>
        <div class="credit">Thomas Wilburn / The Seattle Times</div>
      </main>
    </responsive-child>

    <script>
window.consent = {
  questions: <%= JSON.stringify(json.questions) %>,
  categories: <%= JSON.stringify(json.categories) %>,
  responses: <%= JSON.stringify(json.responses) %>
};
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
